{% extends 'app/base2.html' %}

{% load static %}

{% block contenido %}

<div class="ratio ratio-21x9">
    <iframe src="https://www.youtube.com/embed/K9HIFF8_26M" title="YouTube video" allowfullscreen></iframe>
</div>


<div class="container-fluid">
</div>
<div class="bg-gainsboro p-2"></div>

<div class="container">

    <div class="row">

        <div class="col-md-6">

            <img src="{% static 'app/IMAGENES/cartelera 2.jpg' %}" class="img-fluid">

        </div>

        <div class="col-md-6">

            <h2>THE DRIVER</h2>

            <p>"The Driver" Explica la historia de Vince McKee, un conductor de taxi sin
                suerte en la vida. Sus clientes lo desprecian hasta límites insospechados, su familia se rompió
                hace tiempo y su mujer, con quien duerme cada noche, se ha convertido en una extraña para él. Un
                personaje sin autoestima ni ganas de vivir que en un intento para cambiar su vida acepta trabajar
                como chófer para una banda de criminales. Un arma de doble corte que hará que desaparezcan los
                principales problemas de su vida pero que surjan de todavía peores..</p>
            <h2>Creditos y reparto</h2>
            <div id="ContentPlaceHolder1_ctl_sinopsis_div_propiedades">
                <p class="bolder cf"><span>Actores: </span><small>Ryan O'neal, Bruce Dern, Isabelle Adjani</small></p>
                <p class="bolder cf"><span>Directores: </span><small>Walter Hill</small></p>
            </div>

            <a href="{% url 'agregar_boleto2' %}" class="btn btn-primary">Compra tu entrada aquí</a>

        </div>

    </div>

</div>


<div class="marquee marquee--borders" style="--duration: 100s">
</div>

<div class="marquee">
    <div class="marquee__group">
        <img src="{% static 'app/IMAGENES/driver1.jpeg' %}" alt='1'>
        <img src="{% static 'app/IMAGENES/driver2.jpeg' %}" alt='2'>
        <img src="{% static 'app/IMAGENES/driver3.jpeg' %}" alt='3'>
        <img src="{% static 'app/IMAGENES/driver4.jpeg' %}" alt='4'>
        <img src="{% static 'app/IMAGENES/driver5.jpeg' %}" alt='5'>
    </div>
</div>

<div class="marquee marquee--borders" style="--duration: 100s">
</div>

{% endblock %}